<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="layoutflex.css">
</head>
<body>
    <div class="grid-container">
        <div class="grid-item" id="part1">
            <div class="grid-itemset">
                <div class="logo">logo</div>
                <div>navigation</div>
                <div>header</div>
                <div>
                    <div>side bar</div>
                    <div>body area</div>
                </div>
                <div>footer</div>
            </div>
        </div>
        <div class="grid-item" id="part2">
            <div>
                <div class="logo">logo</div>
                <div>navigation</div>
            </div>
            <div>header</div>
            <div>intro text area</div>
            <div>
                <div>box1</div>
                <div>box2</div>
                <div>box3</div>
            </div>
            <div></div>
        </div>
        <div class="grid-item" id="part3">
            <div class="logo">logo</div>
            <div>
                <div>sidebar navigation</div>
                <div>
                    <div>header</div>
                    <div>body area</div>
                </div>
            </div>
            <div>footer</div>
        </div>
        <div class="grid-item" id="part4">
            <div>
                <div></div>
                <div></div>
            </div>
            <div>
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>6</div>
                <div>7</div>
                <div>8</div>
            </div>
            <div>
                <div>box1</div>
                <div>box2</div>
                <div>box3</div>
            </div>
            <div>footer</div>
        </div>
       
    </div>
</body>
</html>